 <div class="sp-filters sp-border">
    <div class="sp-filters-inner sp-border">
        <div class="sp-filter-label">Filters</div>
        <div class="sp-launch-label">Launch Year</div>
        <div class="sp-year-container" >
          <button (click)="goSpaceX(filter)" *ngFor="let filter of filtersArray" class="button">{{filter}}</button> 
        </div>
        <div class="sp-successful-launch-label">Successful Launch</div>
        <div class="sp-year-container">
            <button class="button">True</button> 
            <button class="button">False</button> 
        </div>
        <div class="sp-successful-launch-label">Successful Landing</div>
        <div class="sp-year-container">
            <button class="button">True</button> 
            <button class="button">False</button> 
        </div>
    </div>
</div>